.cardList {
    width: 60%;
  }
  
.cardsWrap {
    display: flex;
    flex-wrap: wrap;
    width: 675px;
}

.cardsListBtn {
    width: 170px;
    height: 38px;
    background: #9F0013;
    color: white;
    margin: 14px auto 45px 240px;
    padding: 10px 40px;
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
}

.card {
    width: 200px;
    min-height: 318px;
    background-color: #232222;
    margin-right: 25px;
    margin-bottom: 31px;
    box-shadow: 5px 5px 10px rgb(0 0 0 / 25%);
  }
  
.cardImg {
    width: 200px;
    height: 200px;
}
  
.cardTitle {
    margin: 15px;
    color: white;
    font-weight: bold;
    font-size: 22px;
    line-height: 26px;
    text-transform: uppercase;
}

.cardActive {
    filter: drop-shadow(0px 5px 20px #9F0013);
    box-shadow: none;
    transform: translateY(-8px);
}